*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head-div{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  margin-top: 2rem;
}

.first-h1{
  margin-bottom: 1rem;
  color: brown;
}
.first-para{
  font-size: 1.05rem;
  font-family: 'Courier New', Courier, monospace;
}

.counter{
  background-color: chocolate;
    width: 10rem;
    height: 3rem;
    border: 2px solid black;
}

.btn-group{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.counter-btn{
    width: 2rem;
    height: 1.75rem;
    background-color: antiquewhite;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}
.product-head{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  margin-left: 1rem;
  gap: 1rem;
}
.products{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid mediumvioletred;
  margin-bottom: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.product-image{
  height: 100px;
  width: 100px;
  margin: .5rem;
}
h2{
  text-align: center;
  padding-bottom: 1rem;
}