.head-div{
  height: 20rem;
  width: 40rem;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 10rem;
}

.first-h1{
  color: brown;
}
.first-para{
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
}